/**
 * Icon List Block - Editor Styles
 *
 * @since 1.0.0
 */

.wp-block-designsetgo-icon-list {
	// Editor-specific styles if needed

	.dsgo-icon-list__items {
		// Ensure proper spacing in editor
		> .block-list-appender {
			margin-top: 1rem;
		}
	}

	// Stack horizontal layout on tablet for editor/frontend parity
	&.dsgo-icon-list--horizontal {

		@media (max-width: 1024px) {

			.dsgo-icon-list__items {
				flex-direction: column !important;
			}
		}
	}
}
