/**
 * Form Date Field Block - Styles
 *
 * Uses shared form field styles from text field
 *
 * @since 1.0.0
 */

// Date field uses the same styles as text field
@use '../form-text-field/style' as *;
