/**
 * Heading Segment Block Frontend Styles
 */

.dsgo-heading-segment {
	// Display inline so segments sit next to each other within the heading
	display: inline;

	.dsgo-heading-segment__text {
		// Inherit display from parent so text flows naturally
		display: inline;
	}
}
