/**
 * Breadcrumbs Block - Editor Styles
 *
 * Editor-only styles for the breadcrumbs block.
 */

.dsgo-breadcrumbs {
    // Notice component styling in editor
    .components-notice {
        margin: 0;
        padding: 0.75em 1em;

        &__content {
            margin: 0;
        }
    }
}
