/**
 * Form Select Field Block - Editor Styles
 *
 * @since 1.0.0
 */

// Import the main frontend styles
@import './style';

// Editor-specific: WordPress editor styles override select width
.editor-styles-wrapper {

	.dsgo-form-field--select {

		.dsgo-form-field__select {
			width: 100%;
		}
	}
}
