/**
 * Form Select Field Block - Styles
 *
 * Uses shared form field styles from text field
 *
 * @since 1.0.0
 */

// Select field uses the same styles as text field
@import '../form-text-field/style';

// Select-specific adjustments
.dsg-form-field--select {

	.dsg-form-field__select {
		cursor: pointer;
		appearance: none;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path fill='%23333' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z'/></svg>");
		background-repeat: no-repeat;
		background-position: right 1rem center;
		padding-right: 2.5rem;
	}
}
