/**
 * Form URL Field Block - Styles
 *
 * Uses shared form field styles from text field
 *
 * @since 1.0.0
 */

// URL field uses the same styles as text field
@import '../form-text-field/style.scss';
