/**
 * Revision Comparison Variables
 *
 * @package DesignSetGo
 */

$dsgo-diff-added: #d4edda;
$dsgo-diff-added-light: #e8f5e9;
$dsgo-diff-added-border: #c3e6cb;
$dsgo-diff-removed: #f8d7da;
$dsgo-diff-removed-dark: #e6c8cb;
$dsgo-diff-removed-light: #fce4e7;
$dsgo-diff-removed-border: #f1c1c6;
$dsgo-diff-modified: #fff3cd;
$dsgo-border-color: #c3c4c7;
$dsgo-preview-bg: #f0f0f1;
