/**
 * Block Animations - CSS Animations
 *
 * Entrance and exit animation keyframes and styles
 *
 * @package DesignSetGo
 * @since 1.0.0
 */

// Base animation class - only hide on frontend, not in editor
body:not(.block-editor-page):not(.wp-admin) {

	.has-dsgo-animation {
		// Will be animated by JavaScript
		// Hide elements until entrance animation is triggered
		&:not(.dsgo-entrance-active):not(.dsgo-exit-active) {
			opacity: 0;
		}

		// Apply animation settings when active
		&.dsgo-entrance-active,
		&.dsgo-exit-active {
			animation-fill-mode: both;
		}
	}

	// Entrance animations - apply animation names to active blocks
	.dsgo-entrance-active {

		&.dsgo-animation-fadeIn {
			animation-name: dsgFadeIn;
		}

		&.dsgo-animation-fadeInUp {
			animation-name: dsgFadeInUp;
		}

		&.dsgo-animation-fadeInDown {
			animation-name: dsgFadeInDown;
		}

		&.dsgo-animation-fadeInLeft {
			animation-name: dsgFadeInLeft;
		}

		&.dsgo-animation-fadeInRight {
			animation-name: dsgFadeInRight;
		}

		&.dsgo-animation-slideInUp {
			animation-name: dsgSlideInUp;
		}

		&.dsgo-animation-slideInDown {
			animation-name: dsgSlideInDown;
		}

		&.dsgo-animation-slideInLeft {
			animation-name: dsgSlideInLeft;
		}

		&.dsgo-animation-slideInRight {
			animation-name: dsgSlideInRight;
		}

		&.dsgo-animation-zoomIn {
			animation-name: dsgZoomIn;
		}

		&.dsgo-animation-bounceIn {
			animation-name: dsgBounceIn;
		}

		&.dsgo-animation-flipInX {
			animation-name: dsgFlipInX;
		}

		&.dsgo-animation-flipInY {
			animation-name: dsgFlipInY;
		}
	}

	// Exit animations - apply animation names to active blocks
	.dsgo-exit-active {

		&.dsgo-animation-exit-fadeOut {
			animation-name: dsgFadeOut;
		}

		&.dsgo-animation-exit-fadeOutUp {
			animation-name: dsgFadeOutUp;
		}

		&.dsgo-animation-exit-fadeOutDown {
			animation-name: dsgFadeOutDown;
		}

		&.dsgo-animation-exit-fadeOutLeft {
			animation-name: dsgFadeOutLeft;
		}

		&.dsgo-animation-exit-fadeOutRight {
			animation-name: dsgFadeOutRight;
		}

		&.dsgo-animation-exit-slideOutUp {
			animation-name: dsgSlideOutUp;
		}

		&.dsgo-animation-exit-slideOutDown {
			animation-name: dsgSlideOutDown;
		}

		&.dsgo-animation-exit-slideOutLeft {
			animation-name: dsgSlideOutLeft;
		}

		&.dsgo-animation-exit-slideOutRight {
			animation-name: dsgSlideOutRight;
		}

		&.dsgo-animation-exit-zoomOut {
			animation-name: dsgZoomOut;
		}

		&.dsgo-animation-exit-bounceOut {
			animation-name: dsgBounceOut;
		}

		&.dsgo-animation-exit-flipOutX {
			animation-name: dsgFlipOutX;
		}

		&.dsgo-animation-exit-flipOutY {
			animation-name: dsgFlipOutY;
		}

		&.dsgo-animation-exit-rotateOut {
			animation-name: dsgRotateOut;
		}
	}
}

// ============================================
// ENTRANCE ANIMATIONS
// ============================================

// Fade In
@keyframes dsgFadeIn {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

// Fade In Up
@keyframes dsgFadeInUp {

	from {
		opacity: 0;
		transform: translate3d(0, 40px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

// Fade In Down
@keyframes dsgFadeInDown {

	from {
		opacity: 0;
		transform: translate3d(0, -40px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

// Fade In Left
@keyframes dsgFadeInLeft {

	from {
		opacity: 0;
		transform: translate3d(-40px, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

// Fade In Right
@keyframes dsgFadeInRight {

	from {
		opacity: 0;
		transform: translate3d(40px, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

// Slide In Up
@keyframes dsgSlideInUp {

	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

// Slide In Down
@keyframes dsgSlideInDown {

	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

// Slide In Left
@keyframes dsgSlideInLeft {

	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

// Slide In Right
@keyframes dsgSlideInRight {

	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

// Zoom In
@keyframes dsgZoomIn {

	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

// Bounce In
@keyframes dsgBounceIn {

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

// Flip In X
@keyframes dsgFlipInX {

	from {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

// Flip In Y
@keyframes dsgFlipInY {

	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

// ============================================
// EXIT ANIMATIONS
// ============================================

// Fade Out
@keyframes dsgFadeOut {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

// Fade Out Up
@keyframes dsgFadeOutUp {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, -40px, 0);
	}
}

// Fade Out Down
@keyframes dsgFadeOutDown {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 40px, 0);
	}
}

// Fade Out Left
@keyframes dsgFadeOutLeft {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(-40px, 0, 0);
	}
}

// Fade Out Right
@keyframes dsgFadeOutRight {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(40px, 0, 0);
	}
}

// Slide Out Up
@keyframes dsgSlideOutUp {

	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}

// Slide Out Down
@keyframes dsgSlideOutDown {

	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}
}

// Slide Out Left
@keyframes dsgSlideOutLeft {

	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(-100%, 0, 0);
	}
}

// Slide Out Right
@keyframes dsgSlideOutRight {

	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(100%, 0, 0);
	}
}

// Zoom Out
@keyframes dsgZoomOut {

	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	to {
		opacity: 0;
	}
}

// Bounce Out
@keyframes dsgBounceOut {

	20% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	50%,
	55% {
		opacity: 1;
		transform: scale3d(1.1, 1.1, 1.1);
	}

	to {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
}

