/**
 * Stack Container Block - Editor Styles
 *
 * Editor-only styles for the Stack Container block.
 *
 * @package DesignSetGo
 */

.dsg-stack {
	// Visual indicator in editor
	position: relative;

	&__inner {
		// CRITICAL: Stack container needs full width for alignment properties to work
		// Must be duplicated from style.scss for editor/frontend parity
		width: 100%;
		min-height: 100px; // Ensure visible area when empty

		// CRITICAL: Block-level elements need full width for text-align to work properly
		// Must be duplicated from style.scss for editor/frontend parity
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> p,
		> .wp-block-heading,
		> .wp-block-paragraph {
			width: 100%;
		}
	}

	// Show outline when selected (editor-only)
	&.is-selected {
		outline: 1px dashed rgba(37, 99, 235, 0.3);
		outline-offset: -1px;
	}
}
