/**
 * Table of Contents Block - Editor-Only Styles
 */

.editor-styles-wrapper,
.block-editor-block-preview__content {
    .dsgo-table-of-contents {
        border: 1px dashed #999;
        padding: 1.5rem;
        background: rgba(0, 0, 0, 0.02);
        border-radius: 4px;
        min-height: 100px;

        // When block is selected
        &.is-selected {
            background: rgba(0, 0, 0, 0.04);
            border-color: #000;
        }

        // Title in editor
        &__title {
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
        }

        // Links in editor should look like links but not be functional
        &__link {
            pointer-events: none;
            cursor: default;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: currentColor;
                opacity: 0.3;
            }
        }

        // Notice components in editor
        .components-notice {
            margin: 0;

            &__content {
                margin: 0;
            }
        }

        // Empty state
        &__empty {
            padding: 1rem;
            text-align: center;
            background: rgba(0, 0, 0, 0.03);
            border-radius: 4px;
        }
    }
}

// Block toolbar styles
.block-editor-block-list__block[data-type="designsetgo/table-of-contents"] {
    // Ensure block is easily selectable
    &.is-selected {
        .dsgo-table-of-contents {
            box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
        }
    }
}
