/**
 * Frontend Styles
 *
 * Styles that apply on the frontend.
 *
 * @package DesignSetGo
 */

// Core utilities (loaded into global namespace with 'as *')
@use './styles/variables' as *;
@use './styles/mixins' as *;
@use './styles/animations';
@use './styles/utilities';
@use './styles/block-variations';

// Block extensions (frontend)
@use './extensions/block-animations/animations' as block-animations;
@use './extensions/max-width/style' as max-width;
@use './extensions/background-video/style' as background-video;
@use './extensions/overlay/style' as overlay;
@use './extensions/grid-span/style' as grid-span;

// Custom blocks (frontend)
// Container blocks
@use './blocks/stack/style' as stack;
@use './blocks/flex/style' as flex;
@use './blocks/grid/style' as grid;
@use './blocks/accordion/style' as accordion;
@use './blocks/accordion-item/style' as accordion-item;
@use './blocks/tabs/style' as tabs;
@use './blocks/tab/style' as tab;
@use './blocks/icon-list/style' as icon-list;
@use './blocks/icon-list-item/style' as icon-list-item;
@use './blocks/pill/style' as pill;
