/**
 * Scroll Accordion Item - Editor Styles
 * Match frontend appearance in the editor
 */

/* Force full width on the block wrapper via align-self stretch */
.block-editor-block-list__block.wp-block-designsetgo-scroll-accordion-item {
	align-self: stretch !important;
	box-sizing: border-box !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.editor-styles-wrapper .dsg-scroll-accordion-item {

	/* Override sticky for easier editing */
	position: relative !important;
	top: auto !important;

	/* Full width via align-self stretch */
	align-self: stretch !important;
	margin-bottom: 2rem;

	/* Editor visual indicator */
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 3px;
		height: 100%;
		background: linear-gradient(to bottom, #3858e9, #7c3aed);
		opacity: 0.3;
		pointer-events: none;
		transition: opacity 0.2s ease;
		z-index: 1;
	}

	&:hover::after {
		opacity: 0.6;
	}

	&.is-selected::after {
		opacity: 1;
	}

	/* Alignment support */
	&.alignleft {
		margin-right: auto;
		margin-left: 0;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.alignright {
		margin-left: auto;
		margin-right: 0;
	}

	&.alignwide,
	&.alignfull {
		width: 100%;
		max-width: 100%;
	}
}
